<ul class="breadcrumb">
  <% @recipe.mod_hierarchy.each do |mod| %>
    <% if mod == @recipe %>
      <li class="active">
    <% else %>
      <li>
    <% end %>

    <%= link_to mod.name, mod %><span class="divider">..</span></li>

  <% end %>
</ul>