<h1><%= @recipe.name %></h1>

<% if @recipe.is_mod? %>
  <h2>by <%= link_to @recipe.user.name, @recipe.user %>, modifies <%= link_to @recipe.parent.name, @recipe.parent %></h2>
<% else %>
  <h2>by <%= @recipe.user.name %></h2>
<% end %>