<h1 class="center">listing recipes</h1>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-coffee" %>

   <table class="table table-striped recipe-listing well">
   <% @recipes.each do |recipe| %>
     <tr>
       <td><%= link_to recipe.name, recipe %></td>
       <td><span class="quiet">made with </span><%= recipe.coffee %></td>
     </tr>
   <% end %>
   </table>
