<h1><%= @user.name %>'s profile</h1>

<div class="row">
  <div class="span5 well">
    <h2>My Recipes</h2>
    <% if @user.recipes.any? %>      
      <ul class="recipe-list">
      <% @user.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div class="span5 offset1 well">
    <h2>My Favorite Recipes</h2>
  </div>

</div>