<div class="center hero-unit">
  <h1>Welcome to brew.me</h1>

  <h2 class="quiet">a collaborative lab for coffee and tea</h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-coffee" %>
</div>
