<h1 class="center">newest recipes</h1>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-coffee" %>

<table class="table table-striped recipe-listing well">
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, recipe %></td>
      <td><span class="quiet">by </span><%= recipe.user.name %></td>
      <td><span class="quiet"> 
          last modified 
          </span><%= I18n.localize(recipe.updated_at, format: :short) %></td>
   </tr>
 <% end %>
</table>
